<div class="follow-us mod-info">
  <h3>Follow us</h3>
  <div class="mod-follow-us">
    <ul>
      <li><%= link_to(' ',"https://twitter.com/NGOAidMap", :class=>"twitter", :target=>"_blank") %></li>
      <li><%= link_to(' ',"https://www.facebook.com/NGOAidMap", :class=>"facebook", :target=>"_blank") %></li>
      <li><a class="email" href="mailto:​mappinginfo@interaction.org"></a></li>
    </ul>
  </div>
</div>
