<div class="projects mod-info">
  <h3>Projects</h3>
  <% if @projects.total_entries %>
    <span><%= number_with_delimiter(@projects.total_entries) %></span>
  <% else %>
    <span><%= number_with_delimiter(@site.total_projects) %></span>
  <% end %>
</div>
