<div class="contact-info">
  <h3>Media contact information</h3>
  <div class="mod-contact-info">
    {{#if media_contact_name}}<h4>{{media_contact_name}}</h4>{{/if}}
    {{#if media_contact_position}}<p>{{media_contact_position}}</p>{{/if}}
    {{#if media_contact_phone_number}}<p>{{media_contact_phone_number}}</p>{{/if}}
    {{#if media_contact_email}}<p><a href="mailto:{{media_contact_email}}">Contact e-mail address</a></p>{{/if}}
  </div>
</div>
