{{#if this.partner_organizations.local.length }}
  <h3 class="margin">Local Partners</h3>
  <ul>
    {{#each this.partner_organizations.local }}
      <li style="margin-bottom: 0;"><p>{{ this }}</p></li>
    {{/each}}
  </ul>
{{/if}}

{{#if this.partner_organizations.local.length }}
  {{#if this.partner_organizations.international.length }}
    <div style="padding-top: 30px;"></div>
  {{/if}}
{{/if}}

{{#if this.partner_organizations.international.length }}
  <h3 class="margin">International Partners</h3>
  <ul>
    {{#each this.partner_organizations.international }}
      <li style="margin-bottom: 0;"><p>{{ this }}</p></li>
    {{/each}}
  </ul>
{{/if}}