{{#if partners.local }}
  <h3 class="margin">Local Partners</h3>
  <ul>
    {{#each partners.local }}
      <li style="margin-bottom: 5px;"><p>{{ name }}</p></li>
    {{/each}}
  </ul>
{{/if}}

{{#if partners.local }}
  {{#if partners.international }}
    <div style="padding-top: 30px;"></div>
  {{/if}}
{{/if}}

{{#if partners.international }}
  <h3 class="margin">International Partners</h3>
  <ul>
    {{#each partners.international }}
      <li style="margin-bottom: 5px;"><p>{{ name }}</p></li>
    {{/each}}
  </ul>
{{/if}}
