<div class="mod-donors">
  <h3>Donors</h3>
  <ul class="donor_list">
    {{#each donors}}
      <li><a href="{{this.url}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
  {{!-- <a href="/donors" class="more">More donors</a> --}}
</div>
