<div class="contact-info">
  <h3>Contact information</h3>
  <div class="mod-contact-info">
    {{#if this.contact_person}}
    <h4>{{this.contact_person}}</h4>
    {{/if}}

    {{#if this.contact_position}}
    <p>{{this.contact_position}}</p>
    {{/if}}

    {{#if this.contact_phone_number}}
      <p>{{this.contact_phone_number}}</p>
    {{/if}}

    {{#if this.contact_email}}
     <a class="donations-website" href="mailto:{{this.contact_email}}">Project contact email</a>
    {{/if}}
  </div>
</div>
