<h3>Reporting organisation</h3>
{{#if this.attributes.logo}}<a href="/organizations/{{this.id}}"><img src="http://ngoaidmap.org{{this.attributes.logo}}" alt="Medium"></a>{{/if}}
<a href="/organizations/{{this.id}}" class="{{#if this.attributes.logo}}long{{/if}}">{{this.attributes.name}}</a>
