<div class="mod-project-budget">
  <h3>Project budget</h3>
  $<span id="projectBudgetValue" class="font-small">{{this.budgetString}}</span>
  {{!-- $<span id="projectBudgetValue"><%= number_with_precision(@project.budget, :precision => 0, :delimiter => ',') %></span> --}}
</div>
