<div class="mod-project-reach">
  <h3>Project reach</h3>
  <p class="font-medium">{{this.project_reach_unit}}</p>
  <div class="timeline">
    <span class="timeline-status" style="width: {{this.reach}};"></span>
  </div>
  <p>Actual: {{this.actual_project_reach_string}}</p>
  <p>Target: {{this.target_project_reach_string}}</p>
</div>
