<div class="affiliated-organizations">
  <div class="mod-affiliated-organizations" >
    <h3>Some organizations</h3>
    {{#each organizations}}
      <li><a href="{{this.url}}">{{this.name}}</a>{{this.count}} Projects</li>
    {{/each}}
  </div>
</div>
