<div class="mod-location">
  <h3>Location</h3>
  <img src="http://maps.google.com/maps/api/staticmap?size=302x189&maptype=roadmap&style=feature:all|element:labels|visibility:off&style=feature:road|element:all|visibility:off&style=feature:administrative.province|element:all|visibility:off&style=feature:water|element:all|hue:0x00c3ff&sensor=false&center={{this.latitude}},{{this.longitude}}&zoom=3&markers=icon:http://www.ngoaidmap.org/images/themes/<%=@site.theme_id%>/marker_1.png|{{this.latitude}},{{this.longitude}}"/>
</div>
