<h3>Projects in other countries</h3>
<ul>
  {{#each countries}}
    <li><a href="/location/{{this.attributes.uid}}">{{this.attributes.name}} - {{this.attributes.total_projects}}</a></li>
  {{/each}}
</ul>
