<div class="mod-sidebar-projects mod-info">
  <h3>Projects</h3>
  <span>{{this.projectsLength}}</span>
</div>
{{#if renderOrganizations}}
<div class="mod-sidebar-organizations mod-info">
  <h3>Organizations</h3>
  <span>{{this.organizationsLength}}</span>
</div>
{{/if}}
{{#if renderCountries}}
<div class="mod-sidebar-countries mod-info">
  <h3>Countries</h3>
  <span>{{this.countriesLength}}</span>
</div>
{{/if}}
