<div class="donors-in-this-country">
  <h3>{{name}}</h3>
  {{#each donors}}
    <li><a href="{{this.urlfiltered}}">{{this.name}}</a></li>
  {{/each}}
  {{#if see_more}}
    <li><a id="see-more-donors" href="#">See more donors</a></li>
  {{/if}}
</div>
