<div class="hero">
  <img src="" alt="">
</div>

<aside>
  <div class="row">
    <div class="grid-4">

      <%= render 'partials/aside/donors_in_this_country' %>

    </div>
  </div>
</aside>

<section class="about">
  <div class="row">
    <div class="grid-12 offset-1">

      <article class="content-article">
        <h2 class="section-title">About NGO Aid Map</h2>

        <section>
            <p>NGO Aid Map is an InterAction initiative focused on collecting information on NGOs' work at the project level and making it accessible to donors, NGOs, businesses, governments and the public through an online, interactive mapping tool. The site, which primarily focuses on the work of InterAction members, aims to:</p>
            <ul>
              <li>Promote transparency</li>
              <li>Facilitate partnerships and improve coordination</li>
              <li>Help guide decisions about where to direct aid resources</li>
            </ul>
            <p>Best practices are highlighted in select areas, allowing for information sharing on effective approaches.</p>
            <a href="#">mappinginfo@interaction.org.</a>
        </section>

        <section>
          <h3 class="subsection-title">Focus areas</h3>
          <p>Our mapping work is currently focused on:</p>

          <p><a href="#">Food Security:</a> With funding from the International Fund for Agricultural Development (IFAD), InterAction has developed Food Security Aid Map to provide detailed project-level information on food security and agriculture projects being done by NGOs and the US NGO Working Group on IFAD and Rural Poverty.</p>

          <p><a href="#">Haiti:</a> Since the earthquake in January 2010, InterAction, in partnership with BCLC and with funding from FedEx, has developed a web-based mapping platform to highlight NGOs programs in Haiti. InterAction has been working closely with its members to develop a data collection system that is flexible and can be deployed in future emergencies.</p>

          <p><a href="#">Haiti:</a> Since the earthquake in January 2010, InterAction, in partnership with BCLC and with funding from FedEx, has developed a web-based mapping platform to highlight NGOs programs in Haiti. InterAction has been working closely with its members to develop a data collection system that is flexible and can be deployed in future emergencies.</p>
        </section>
        <section>
          <h3 class="subsection-title">Focus areas</h3>
          <p>NGO Aid Map is an InterAction initiative focused on collecting information on NGOs' work at the project level and making it accessible to donors, NGOs, businesses, governments and the public through an online, interactive mapping tool. The site, which primarily focuses on the work of InterAction members, aims to:</p>
          <ul>
            <li>Promote transparency</li>
            <li>Facilitate partnerships and improve coordination</li>
            <li>Help guide decisions about where to direct aid resources</li>
          </ul>
          <p>Best practices are highlighted in select areas, allowing for information sharing on effective approaches.</p>
        </section>
      </article>

    </div>
  </div>
</section> <!-- content -->
