<div class="text-center mod-report-budget-total">
	<span class="small">$</span>{{commas budgets.total}} <span class="small">(Total Project Budgets) <sup class="footnote-link"><a href="#limitations3">3</a></sup></span>
</div>
{{#if budgets}}
<div class="row">
	<div class="col-md-4 mod-report-budget-min">min. (USD): ${{commas budgets.min}}</div>
	<div class="col-md-4 mod-report-budget-average">median (USD): ${{commas budgets.median}}</div>
	<div class="col-md-4 mod-report-budget-max">max. (USD): ${{commas budgets.max}}</div>
</div>
{{/if}}
