<div id="embedMapView" class="mod-overlay">
  <div class="mod-overlay-content">
    <div class="text">
      <a class="mod-overlay-close" href="#">x</a>
      <h2>Embed this map</h2>
      <p>Copy this code and paste it in your HTML page for embedding the map.</p>
      <textarea><iframe src="<%= url_with_embed_param %>" frameborder="0" width="600" height="400"></iframe></textarea>
    </div>
  </div>
</div>
