<div class="mod-filtered-categories">
  <div class="row">
    <div class="grid-17">
      <div id="filtered-bubble"></div>

      <div class="mod-btn-projects">
        <a href="#content" class="btn-go-to-projects">View projects list</a>
      </div>
    </div>
  </div>
</div>
