<div class="row">
	<div class="grid-12">
		<div class="mod-pagination">
			<ul>
				<li><a href="#" class="prev"></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#" class="next"></a></li>
			</ul>
		</div>
	</div>
</div>