<section class="categories-selector">
  <div class="row">
    <div class="grid-17">
      <nav class="mod-categories-selector">
        <ul>
          <li><a href="#" class="sector">sector</a></li>
          <li><a href="#" class="organization">organization</a></li>
          <li><a href="#" class="donor">donor</a></li>
          <li><a href="#" class="country">country</a></li>
          <li><a href="#" class="region">region</a></li>
          <li><a href="#" class="search">search</a></li>
        </ul>
      </nav>
      <a class="FedEx-logo" href="http://www.fedex.com/"><%= image_tag "fedex-logo.png", :alt  => "Fed Ex logo" %></a>
    </div>
  </div>
</section>
