<div class="mod-downloads" id="downloadsView">
  <ul>
    <li><%= download_link('CSV','csv') %></li>
    <li><%= download_link('KML','kml') %></li>
    <li><%= link_to 'Embed this map', '#embedMapView', :class => 'embed', :id => 'embedMapBtn' %></li>
  </ul>
</div>
