<a href="http://questionpro.com/a/TakeSurvey?id=3822025" id="feedbackBtn" class="btn-feedback is-unprintable" target="_blank">Feedback</a>
<!-- <div class="mod-overlay feedback-overlay layer-overlay" id="feedbackOverlay">
  <div class="mod-overlay-content">
    <a class="mod-overlay-close" href="#">x</a>
    <iframe src="http://www.questionpro.com/a/TakeSurvey?id=3930081" frameborder="0"></iframe>
  </div>
</div> -->

<!-- BEGIN SURVEY POPUP CODE 

<script>
  var config = {};

  config.surveyID = 3930081;

  config.animationMode = 2;

  config.takeSurveyURL = 'http://www.questionpro.com/a/TakeSurvey';

  config.windowPositionLeft = 200;

  config.windowPositionTop = 250;

  config.popupInvitationHeader = '<span style="font-weight: normal">Win a free registration to the InterAction Forum 2015 in Washington DC!</span>';

  config.home = 'http://www.questionpro.com/';

  config.isRightToLeft = false;

  config.surveyStartMessage = 'Start Survey';

  config.popupInvitationLaterMessage = 'Later';

  config.showFooter = false;

  config.invitationDelay = 2;

  config.skipCount = 0;

  config.popupMessage = '<br><span style="color: rgba(86,90,92,0.7); font-size: 1.2em;">Tell us about yourself.</span><br><br>';

  config.popupMode = 2;

</script>

<script src="http://www.interaction.org/sites/default/files/ngoaidmap/js/qp_popup_invite.js"></script>

<noscript><a href="http://www.questionpro.com/a/TakeSurvey?id=3930081">Start Survey</a>
<a href="http://www.questionpro.com/">Survey</a></noscript>

END SURVEY POPUP CODE -->
