.mod-report-filter {
    #s2id_start_date_year,
    #start_date_year,
    #s2id_start_date_month,
    #s2id_start_date_day,
    #s2id_end_date_year,
    #s2id_end_date_month,
    #s2id_end_date_day {
        width: 31% !important;
        background: image-url('form-background-lt.png') no-repeat center;
    }
    #activeProjects {
        input {
            height: auto;
            width: auto;
            margin: 15px 0;
            padding: 0;
            vertical-align: -2px;
        }
        label {
            text-transform: none;
            font-weight: normal;
        }
    }
    label {
        text-transform: uppercase;
    }
    input::placeholder {
        color: $color-3;
    }
    ul {
        &.combo_search_select {
            & > li {
                width: 100%;
                margin-bottom: 10px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .comboselect {
        width: 100%;
        margin-bottom: 20px;
        label {
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        select,
        input {
            height: 40px;
        }
        &.is-disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }
    .search {
        width: auto;
        border-radius: 0;
        margin: 0 0 10px 0;
        height: 40px;
        padding: 0 1em;
        input {
            padding: 0;
            font-family: sans-serif;
        }
    }
    .applied-filters {
        width: 90%;
        padding: 5%;
        border: 2px solid $color-4;
    }
    .budget-input-wrapper {
        position: relative;
        span {
            position: absolute;
            margin: 0 5px;
            line-height: 40px;
        }
        input {
            width: 100%;
            margin-bottom: 0;
            padding-left: 1.5em;
        }
    }
    .select2-container {
        .select2-choice {
            font-size: 13px; 
            background-color: $color-4;
            
        }
    }
    .select2-container-multi {
        .select2-choices {
            .select2-search-field {
                input {
                    padding-left: 1em;
                }
            }
        }
    }
}


