.mod-gallery {
  height: 400px;
  margin: 1em 0;

  .chachi-slide-next,
  .chachi-slide-prev {
    width: 50px;
    height: 50px;

    background: rgba(0, 0, 0, .4) no-repeat center center;
    background-size: 18px 29px;

    color: transparent;
    text-indent: -9999px;
    text-decoration: none;

    opacity: 0;

    @include transition(all .3s ease);
  }

  .chachi-slide-prev {
    @include border-radius(0 4px 4px 0);
    background-image: image-url("arrow-prev.svg");
  }

  .chachi-slide-next {
    @include border-radius(4px 0 0 4px);
    background-image: image-url("arrow-next.svg");
  }

  &:hover {
    .chachi-slide-next,
    .chachi-slide-prev {
      opacity: 1;
    }
  }

  .chachi-slide-caption {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    padding: 20px;

    border-radius: 4px;

    background: rgba(0, 0, 0, .4);

    color: $color-0;
  }
  .chachi-slide-item iframe {
    width: 100%;
    min-height: 361px;
    height: auto;
  }
}
