.mod-project-list-header {
  h1 {
    &.header-light {
      font-weight: normal;
      font-size: 24px;
      color: $color-5;
    }
  }
  h4 {
    font-weight: bold;
  }
  .skip-to-projects {
    margin-top: -20px;
    margin-bottom: 20px;
    a {
      color: $color-2;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .project-filter-list {
    li {
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
      align-items: center;
      padding: 14px 0;
      border-radius: 40px;
      border-top: 1px solid $color-4;
    }
    h2:only-child {
      margin-bottom: 0;
    }
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    //li:first-child {
    //  width: 100%;
    //}
  }
  .close-x {
    margin: 0 1.5em;
    font-size: 1.2em;
    color: #ccc;
    font-family: arial;
    transition: color 0.25s;
    &:hover {
      font-weight: bold;
      color: $color-5;
      cursor: pointer;
      //& ~ .country {
      //  color: $color-8a;
      //}
      //& ~ .organization {
      //  color: $color-6a;
      //}
      //& ~ .donor {
      //  color: $color-7a;
      //}
      //& ~ .sector {
      //  color: $color-2a;
      //}
      & ~ .value-wrapper,
      & ~ .project-filter-list-item-heading {
        color: $color-10;
      }
    }
  }
  .project-filter-list-item-heading {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-5;
    margin: 0 2em;
    flex-basis: 110px;
    flex-shrink: 0;
    text-align: right;
    font-size: 14px;
  }
  .project-filter-list-item-value {

  }
  .project-filter-list-item-description {
    margin-top: -10px;
    font-weight: bold;
  }
  .value-wrapper {
    flex-grow: 1;
    transition: color 0.25s;
  }
  .country {
    color: $color-8;
    transition: color 0.25s;
    //border-bottom: 5px solid $color-8a;
  }
  .organization {
    color: $color-6;
    transition: color 0.25s;
    //border-bottom: 5px solid $color-6a;
  }
  .sector {
    color: $color-2;
    transition: color 0.25s;
    //border-bottom: 5px solid $color-2a;
  }
  .donor {
    color: $color-7;
    transition: color 0.25s;
    //border-bottom: 5px solid $color-7a;
  }
}