.mod-explore {
    h1 {
        color: rgba($color-0, 0.5);
        text-align: center;
        font-size: 92px;
        padding-top: 1em;
        font-weight: normal;
    }
    h2 {
        color: $color-0;
        margin: 0.5em 0 1em 0;
        font-size: 36px;
        opacity: 0.9;
    }
    h3 {
        color: $color-5;
    }
    /*hr {
        border-color: $color-2;
        border-top-width: 1px;
        margin-top: 0.75em;
    }*/
    section {
        @include clearfix();
        margin-bottom: 2em;
    }
    .mod-hero {
        height: 400px;
        background: image-url('hero-explore.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 25px;
    }
    .section-nav {
        text-align: center;
        width: 350px;
        margin: 3em auto;
        a {
            display: initial;
        }
    }
    .menu-item {
        font-size: 15px;
        text-transform: uppercase;
        display: inline-block;
        color: rgba($color-0, 0.7);
        padding: 0.4em 1.15em;
        margin-bottom: 0;
        font-weight: bold;
        background: rgba($color-0, 0.1);
        border-radius: 25px;
        margin: 0 5px;
        border: 3px solid transparent;
        transition: color,border-color 0.2s;
        &:hover:not(.active) {
            color: rgba($color-0, 0.9);
            cursor: pointer;
            border-color: rgba($color-0, 0.4);
        }
        &.active {
          border: 3px solid rgba($color-0,0.9);
          color: rgba($color-0, 0.9);
        }
    }
    .explore-section {
       min-height: 300px;
        padding: 1.5em 1em;
        margin-bottom: 1em;
        box-shadow: 0 0 2px -2px $color-0;
    }
    .explore-section-item {
        box-shadow: 0 0 5px -3px $color-0;
        border-radius: 3px;
        &:hover {
            box-shadow: 0 0 8px -3px $color-0;
        }
    }
    .full-height {
        height: 100%;
    }
    .bottom-gap {
        margin-bottom: 2em;
    }
    &.activity {
        .organizations {
            .explore-section-item {
                height: 300px;
                background: $white;
                padding: 1em;
                box-sizing: border-box;
            }
        }
    }
    .explore-date {
        color: $color-5;
        text-align: center;
        margin-bottom: 1.5em;
        font-size: 14px;
        font-style: italic;
    }
    .sectors {
        .explore-section {
            min-height: 450px;
        }
    }
    .sector-link {
        padding: 1em 0;
        transition: background 0.2s;
        height: 200px;
        margin: 1px;
        &:hover {
            background: darken($color-3, 5%);
            text-decoration: none;
            box-shadow: 0 0 3px -1px lighten($color-1, 25%);
        }
    }
    .sector-icon {
        background: $color-5;
        border: 5px solid $color-1;
        border-radius: 25px;
        box-shadow: 0 0 3px 2px;
/*         display: inline-block; */
    }
    .sector-title {
        font-size: 26px;
        text-align: center;
        margin: 0.5em 0;
        color: $color-4;
        line-height: 1.2em;
    }
    .country-title {
        @extend .sector-title;
        
    }
    .explore-map {
        text-align: center;
        svg {
            height: 100px;
        }
    }
      /* Bootstrap Carousel overrides */
    .carousel-control {
        width: auto;
        background: none;
        margin: -15px;
    }
    .carousel-inner {
        /*background: darken($color-3, 10%);
        padding: 1.5em 1em;
        margin: 1em 0;*/
    }
}