.mod-explore-stories {
    /* Bootstrap overrides */
    .btn {
        position: relative;
        border: none;
        color: rgba($color-0, 0.7);
        font-weight: bold;
        transition: all 0.25s;
        outline: none;
        font-size: 1em;
        &:hover,
        &:focus,
        &:active {
            color: rgba($color-0, 0.9);
            box-shadow: 0 0 8px -1px $color-6a;
            outline: none;
        }
    }
    .btn-primary {
        background: $color-9;
    }
    .btn-info {
        background: lighten($color-1, 15%);
    }
    .form-control {
        margin-bottom: 1.5em;
        font-size: 1em;
        border-color: transparent;
        border-radius: 0;
        background: lighten($color-9, 50%);
        box-sizing: border-box;
        color: inherit;
        transition: border 0.25s;
        width: 100%;
        &::placeholder {
                color: $color-5;
        }
        &:focus {
            border-color: transparent;
            border-left: 3px solid $color-9;
            box-shadow: none;
            &::placeholder {
                font-weight: bold;
            }
        }
        &:not(&.has-error) {
            border-color: transparent;
        }
    }
    /* End overrides */
    
    h2 {
        color: inherit;
    }
    p {
        line-height: 1.4;
        margin-bottom: 0.6em;
    }
    label {
            display: block;
            margin-bottom: 0.5em;
            font-size: 1em;
            font-weight: bold;
            color: $color-9;
            text-transform: uppercase;
            text-align: left;
    }
    input[type=submit] {
        background: lighten($color-2, 10%);
        margin: 1.5em;
        transition: all 0.3s;
        &.submit-success {
            background: $color-7 !important;
        }
        &.submit-error {
            background: red !important;
        }
        &:active {
            background-image: linear-gradient(to bottom, lighten($color-2, 10%), $color-2);
        }
    }
    .upload-wrapper {
        position: relative;
        overflow: hidden;
        margin-bottom: 1.5em;
        text-align: left;
        .upload-btn {
            position: absolute;
            right: 0;
            top: 0;
            height: 34px;
            line-height: 34px;
            padding: 0 1em;
            cursor: pointer;
            span {
                pointer-events: none;
            }
            &:active {
                background: $color-1;
            }
        }
        .upload {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0;
            font-size: 1em;
            opacity: 0;
            cursor: pointer;
            filter: alpha(opacity=0);
        }
        .filename {
            border: none;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            background: lighten($color-9, 50%);
/*             padding: 0 1em; */
            font-style: italic;
            color: $color-5;
/*             display: inline-block; */
/*             height: 34px; */
/*             line-height: 34px; */
        }
    }
    .stories-left {
        min-height: 300px;
    }
    .stories-right {
        min-height: 650px;
        margin-top: 5px;
        padding: 50px;
    }
    .instructions {
        font-size: 1.5em;
    }
    .story-form {
        background: lighten($color-9, 40%);
        padding: 3em 1em;
        margin-top: 2em;
    }
}