.mod-explore-use-cases {
    h2 {
        color: $color-00;
        padding: 0.5em 0 1em 0;
        font-size: 36px;
        margin: 0;
    }
    a {
        display: inline-block;
        color: $color-2;
    }
    i {
        font-style: italic;
    }
    .carousel {
        min-height: 500px;
        margin-top: 5em;
        h2 {
            color: $color-3;
            text-align: center;
        }
        p {
            color: $color-3;
            font-size: 1.5em;
            &.centered {
                padding: 1em;
                max-width: 500px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .carousel-inner {
        height: 93%;
        .item {
            height: 100%;
            & > div {
                height: 100%;
            }
        }
    }
    .carousel-indicators {
        bottom: 0;
        li {
            background: $color-4;
            width: 12px;
            height: 12px;
            &.active {
                background: $color-11;
                width: 14px;
                height: 14px;
            }
        }
    }
    .carousel-control {
        background: none;
        width: auto;
        &.left {
            left: -2em;
        }
        &.right {
            right: -2em;
        }
        .oi {
            font-size: 42px;
            line-height: 500px;
            color: lighten($color-11, 5%);
            transition: color 0.4s;
            &:before {
                text-shadow: none;
            }
            &:hover,
            &:focus {
                color: $color-11;
            }
        }
    }
    .carousel-link {
        text-align: center;
        padding-top: 2em;
        margin-top: 5px;
        margin-bottom: 5px;
        &:hover,
        &:focus {
            text-decoration: none;
            .oi,
            .carousel-link-text {
                color: $color-2;
            }
        }
        .oi {
            font-size: 30px;
            color: $color-1;
            margin-bottom: 20px;
            box-shadow: 0 0 3px 0;
            padding: 23px;
            border-radius: 50px;
            transition: color 0.4s;
            background: #fff;
        }
        .carousel-link-text {
            color: $color-1;
            font-size: 1.2em;
            transition: color 0.4s;
        }
    }
    .iati {
        background: image-url('iati_ss.png') 50% 100%;
        & > div {
            background: rgba(255,255,255,0.92);
        }
    }
    .hdx {
        background: image-url('hdx_ss.png') no-repeat 50% 30%;
        & > div {
            background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.8) 80%, rgba(255,255,255,0.95));
        }
        p {
            &.centered {
                background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.4));
                max-width: 650px;
            }
        }
    }
    .erh {
        background: image-url('erh_ss.png') no-repeat;
        & > div {
            background-image: radial-gradient(circle at 50% 80%, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0.1) 100%);
        }
        p.centered {
            max-width: 600px;
        }
    }
    .pdc {
        background: image-url('pdc_ss.png') no-repeat;
        background-size: cover;
         & > div {
            background-image: linear-gradient(rgba(0,0,0,0.6), rgba(255,255,255,0.9));
        }
        h2 {
            color: #fff;
        }
        p.centered {
            max-width: 650px;
            color: #fff;
        }
        
    }
    .embed {
        & > div {
            background-image: radial-gradient(circle at 50% 40%, rgba(255,255,255,0.9) 0, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.1) 100%);
        }
        p {
            &.centered {
                max-width: 625px;
            }
        }
    }
    .embed-image{
        position: absolute;
        width: 63%;
        &.ss1 {
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        &.ss2 {
            top: 0;
            left: 0;
            z-index: -2;
        }
    }
    @media (max-width: $screen-xs-max) {
        .item {
            display: block;
            margin-bottom: 1em;
        }
        .embed-image {
            width: auto;
        }
    }
}