.mod-index-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $color-4;
  font-weight: lighter;
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: none;
    a {
      font-size: 16px;
      font-weight: bold;
      @include link-states($color-1, inline);
    }
  }
  span {
    color: $color-5;
    line-height: 1.5em;
  }
  p {
    line-height: 1.5em;
  }
  span a {
    @include link-states($color-2, inline-block);
  }
  .learn_more {
    @include link-states($color-1, inline-block);
  }
  .snippet-label {
    background: $color-8;
    margin-right: 5px;
    padding: 0.15em 0.5em;
    box-shadow: 0px 5px 7px -4px #777;
    color: $color-0;
  }
  .snippet-project-updated {
    font-style: italic;
    font-size: 14px;
    margin-top: 3px;
  }
}
.articles-list li:last-child .mod-index-item {
  border-bottom: none;
}