.mod-more-projects {
  li {
    width: 46%;
    float: left;
    margin-bottom: 40px;
    &:first-child { width: 47%; margin-right: 7%;}
  }
  img { margin: 0;}
  ul, li { list-style: none; }
  .mod-content-article & ul {
    padding-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  .image {
    float: left;
    position: relative;
    width: 35%;
  }
  .info {
    float: right;
    width: 65%;
  }
  .marker {
    position: absolute;
    top: 40%;
    left: 35%;
  }
  h3 {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1em;
    text-transform: none;
    a {
      color: $color-1;
      &:hover {
        color: lighten($color-1, 10%);
        text-decoration: underline;
      }
    }
  }

}
