.mod-categories-selector {

  &.is-fixed {
    min-width: 960px;
    z-index: 100;
  }

  nav {
    float: left;
    position: relative;
    width: 98%;
    margin: 7px 0 0 0;
    padding: 2px 1%;
    background-color: $color-0;
    border-radius: 20px;
  }
  ul {
    @include clearfix();
  }
  li {
    float: left;
    position: relative;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    margin-right: 2%;

    .father {
      border: 3px solid transparent;
      box-sizing: border-box;
      display: block;
      padding: 5px 16px;
      font-weight: lighter;
      font-size: inherit;
      @include border-radius(20px);
      text-transform: uppercase;
      color: inherit;
      &:focus {
        border-color: gray;
      }
    }

    .reports-button.father {
      height: 33px;
      padding: 7px 16px;
    }

    .sub-father {
      box-sizing: border-box;
      color: #8e5387;
      display: block;
      margin: 5px 0;
      padding: 5px 16px;
      font-weight: lighter;
      font-size: inherit;
      text-align: left;
      text-transform: uppercase;
      width: 100%;

      &:first-child {
        margin-top: 15px;
      }

      &:hover,
      &:focus {
        background-color: #eeeeee;
      }

      &:after {
        content: " ›";
        display: inline;
        font-size: 1.5em;
        line-height: 1;
        position: relative;
        top: -2px;
        vertical-align: middle;
      }
    }

    .back-button {
      background-color: #eeeeee;
      display: block;
      padding: 10px 20px 5px;
      position: relative;
      text-align: left;
      width: 100%;
      z-index: 100;

      &:hover,
      &:focus {
        background-color: #dddddd;
      }

      &:before {
        content: "‹ ";
        display: inline;
        font-size: 1.5em;
        line-height: 1;
        position: relative;
        top: -1px;
        vertical-align: middle;
      }
    }

    .sub-menu.-hide {
      display: none;
    }


    &.search { padding: 0;}
    .no-touch &:hover, &.is-touched {
      color: $color-0;
    }
    .no-touch &:hover .menu,
    &.is-touched .menu,
    .no-touch &:hover .menu,
    &.is-touched .menu,
    .menu.-show,
    .mod-go-up-menu.-show {
        display: block;
    }
    
    &.run-reports {
      margin-right: 0;
      float: right;
    }
    
    li {
      padding: 0;
      cursor: default;
      a {
        padding: 5px 20px;
        font-weight: normal;
      }
    }
    .mod-go-up-menu {
      z-index: 100;
    }
    &.last {
      margin-right: 0px;
      float: right;
    }

    // if inside menu and not the menu itself, be bottom-aligned and on top
    .menu .mod-go-up-menu {
      top: 0;
      z-index: 101;

      &:before {
        display: none;
      }
    }
  }
  .fedex-logo {
    float: right;
    padding:0;
  }
  .search {
    height: 25px;
    width: 195px;
    margin-top: 4px;
    border-bottom: 2px solid $color-4;
    input#q {
      background-color: $color-0;
      height: 25px;
    }
    input[type="submit"] {
      height: 25px;
    }

    @media screen and (min-width: 1130px) {
      margin-left: 20px;
      margin-right: 40px;
      width: 265px;
    }
  }


  // Icons
  .health:after {
    @include icons-sprite(icon-health);
    // background-position: sprite-position($icons, icon-health, 4px, 5px);
  }

  .agriculture:after {
    @include icons-sprite(icon-agriculture);
    // background-position: sprite-position($icons, icon-agriculture, 4px, 5px);
  }

  .communications:after {
    @include icons-sprite(icon-communications);
    // background-position: sprite-position($icons, icon-communications, 4px, 5px);
  }

  .disaster-management:after {
    @include icons-sprite(icon-disaster-management);
    // background-position: sprite-position($icons, icon-disaster-management, 4px, 5px);
  }

  .early_recovery:after {
    @include icons-sprite(icon-early_recovery);
    // background-position: sprite-position($icons, icon-early_recovery, 4px, 5px);
  }

  .economic-recovery-and-development:after {
    @include icons-sprite(icon-economic_recovery);
    // background-position: sprite-position($icons, icon-economic_recovery, 4px, 5px);
  }

  .education:after {
    @include icons-sprite(icon-education);
    // background-position: sprite-position($icons, icon-education, 4px, 5px);
  }

  .energy:after {
    @include icons-sprite(icon-energy);
    // background-position: sprite-position($icons, icon-energy, 4px, 5px);
  }

  .environment:after {
    @include icons-sprite(icon-environment);
    // background-position: sprite-position($icons, icon-environment, 4px, 5px);
  }

  .food-aid:after {
    @include icons-sprite(icon-food-aid);
    // background-position: sprite-position($icons, icon-food-aid, 4px, 5px);
  }

  .human-rights-democracy-and-governance:after {
    @include icons-sprite(icon-human_rights);
    // background-position: sprite-position($icons, icon-human_rights, 4px, 5px);
  }

  .humanitarian-aid:after {
    @include icons-sprite(icon-humanitarian-aid);
    // background-position: sprite-position($icons, icon-humanitarian-aid, 4px, 5px);
  }

  .logistics:after {
    @include icons-sprite(icon-logistics);
    // background-position: sprite-position($icons, icon-logistics, 4px, 5px);
  }

  .mining-and-extractive-resources:after {
    @include icons-sprite(icon-mining-and-extractive-resources);
    // background-position: sprite-position($icons, icon-mining-and-extractive-resources, 4px, 5px);
  }

  .non-food-relief-items-nfis:after {
    @include icons-sprite(icon-non-food-relief-items);
    // background-position: sprite-position($icons, icon-non-food-relief-items, 4px, 5px);
  }
  .non_food-relief-items-nf_is:after {
    @include icons-sprite(icon-non-food-relief-items);
    // background-position: sprite-position($icons, icon-non-food-relief-items, 4px, 5px);
  }

  .nutrition:after {
    @include icons-sprite(icon-other);
    // background-position: sprite-position($icons, icon-other, 4px, 5px);
  }

  .other:after {
    @include icons-sprite(icon-other);
    // background-position: sprite-position($icons, icon-other, 4px, 5px);
  }

  .peace-and-security:after {
    @include icons-sprite(icon-peace_security);
    // background-position: sprite-position($icons, icon-peace_security, 4px, 5px);
  }

  .protection:after {
    @include icons-sprite(icon-protection);
    // background-position: sprite-position($icons, icon-protection, 4px, 5px);
  }

  .safety-nets:after {
    @include icons-sprite(icon-safety-nets);
    // background-position: sprite-position($icons, icon-safety-nets, 4px, 5px);
  }

  .shelter-and-housing:after {
    @include icons-sprite(icon-shelter);
    // background-position: sprite-position($icons, icon-shelter, 4px, 5px);
  }

  .water-sanitation-and-hygiene:after {
    @include icons-sprite(icon-water);
    // background-position: sprite-position($icons, icon-water, 4px, 5px);
  }

  .forestry:after {
    @include icons-sprite(icon-forestry);
    // background-position: sprite-positin($icons, icon-forestry, 4px, 5px);
  }

  .fishing:after {
    @include icons-sprite(icon-fishing);
    // background-position: sprite-positin($icons, icon-fishing, 4px, 5px);
  }

  .communications-technology:after {
    @include icons-sprite(icon-communications);
    // background-position: sprite-positin($icons, icon-communications, 4px, 5px);
  }

  .disaster-prevention-and-preparedness:after {
    @include icons-sprite(icon-disaster-management);
    // background-position: sprite-positin($icons, icon-disaster-management, 4px, 5px);
  }

  .economic_recovery_and_development:after {
    @include icons-sprite(icon-economic_recovery);
    // background-position: sprite-positin($icons, icon-economic_recovery, 4px, 5px);
  }

  .capacity-strengthening-for-cs_os-general:after {
    @include icons-sprite(icon-cso);
    // background-position: sprite-positin($icons, icon-human_rights, 4px, 5px);
  }

  .mining_and_extractive_resources:after {
    @include icons-sprite(icon-mining-and-extractive-resources);
    // background-position: sprite-positin($icons, icon-mining-and-extractive-resources, 4px, 5px);
  }

  .conflict-prevention-and-resolution-peace-and-security:after {
    @include icons-sprite(icon-peace_security);
    // background-position: sprite-positin($icons, icon-peace_security, 4px, 5px);
  }

  .social-services:after {
    @include icons-sprite(icon-social-services);
    // background-position: sprite-positin($icons, icon-shelter, 4px, 5px);
  }

  .refugee-resettlement:after {
    @include icons-sprite(icon-refugee-resettlement);
    // background-position: sprite-positin($icons, icon-refugee, 4px, 5px);
  }

  .gender:after {
    @include icons-sprite(icon-gender);
    // background-position: sprite-positin($icons, icon-gender, 4px, 5px);
  }

  .animal-welfare:after {
    @include icons-sprite(icon-animals);
    // background-position: sprite-positin($icons, icon-animals, 4px, 5px);
  }

  .transport-infrastructure:after {
    @include icons-sprite(icon-transport);
    // background-position: sprite-positin($icons, icon-transport, 4px, 5px);
  }

  .construction:after {
    @include icons-sprite(icon-construction);
    // background-position: sprite-positin($icons, icon-construction, 4px, 5px);
  }

  .debt-relief:after {
    @include icons-sprite(icon-debtrelief);
    // background-position: sprite-positin($icons, icon-debt, 4px, 5px);
  }

  .trade:after {
    @include icons-sprite(icon-trade);
    // background-position: sprite-positin($icons, icon-trade, 4px, 5px);
  }



  // Items
  .sector {
    @include categorie-selector($color-2, $color-2a);
    .mod-go-up-menu:after { @include gradient-up($color-0);
      bottom: 0;
    }
    .mod-go-up-menu:before { @include gradient-down ($color-0);}
    .mod-drop-down-menu {
      &:after { @include gradient-up($color-2a); bottom: 0;}
      &:before { @include gradient-down ($color-2a); ; height:15px; bottom: 0;}
    }
    .clusters_sectors-page & .father {
      background-color: rgba($color-2, .3);

      &:focus {
        border-color: $color-2;
      }
    }
  }
  .organizations {
    @include categorie-selector($color-6, $color-6a);
    .mod-go-up-menu {
      &:after { @include gradient-up($color-0);}
      &:before { @include gradient-down ($color-0);}
    }
    .mod-drop-down-menu {
      &:after { @include gradient-up($color-6a)}
      &:before { @include gradient-down ($color-6a); ; height:15px;}
    }
    .organizations-page & .father {
      background-color: rgba($color-6, .3);

      &:focus {
        border-color: $color-6;
      }
    }
  }
  .donors {
    @include categorie-selector($color-7, $color-7a);
    .mod-go-up-menu {
      &:after { @include gradient-up($color-0);}
      &:before { @include gradient-down ($color-0);}
    }
    .mod-drop-down-menu {
      &:after { @include gradient-up($color-7a)}
      &:before { @include gradient-down ($color-7a); ; height:15px;}
    }
    .donors-page & .father {
      background-color: rgba($color-7, .3);

      &:focus {
        border-color: $color-7;
      }
    }
  }
  .countries, .regions {
    @include categorie-selector($color-8, $color-8a);
    .mod-go-up-menu {
      &:after { @include gradient-up($color-0);}
      &:before { @include gradient-down ($color-0);}
    }
    .mod-drop-down-menu {
      &:after { @include gradient-up($color-8a)}
      &:before { @include gradient-down ($color-8a); ; height:15px;}
    }
    .georegion-page & .father {
      background-color: rgba($color-8, .3);

      &:focus {
        border-color: $color-8;
      }
    }
    .location-menu-global-link {
        font-weight: bold;
    }
  }
  .submenu-info {
    color: $color-5;
    text-transform: none;
    margin: 7px 16px 10px 16px;
    border-top: 1px solid transparentize($color-5, 0.5);
    padding-top: 10px;
  }
}

.mod-logos-slider {
  height: 45px;
  margin-top: 5px;
  img {
    display: block;
  }
}
