.mod-organization-details {
  margin-bottom: 30px;
  //background: $color-4;
  //padding: 2em;
  //box-shadow: 0 0 3px -1px;
  h2 {
    color: $color-0;
    margin-bottom: 5px;
    padding: 16px 32px;
    background: $color-1;
  }
  a {
    display: inline-block;
    color: $color-2;

    &:hover {
      color: lighten($color-2, 10%);
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
  }

  tr {
    border-bottom: 1px solid #dddddd;

    &:last-child {
      border: none;
    }
  }

  th,
  td {
    padding:8px 0;
    vertical-align: top;
  }

  th {
    font-weight: normal;
    padding-right: 15px;
  }

  .logo {
    float: left;
    margin: 0px 30px 15px 0;
    max-width: 150px;

    & + table {
      width: calc(100% - 180px);
    }
  }
  .details-wrapper {
    padding: 2em;
    box-shadow: 0 0px 5px rgba(21, 109, 141, 0.3);
    p {
      margin-bottom: 1em;
    }
  }
}