.mod-project-sectors {
  label { display: none; }
  li { margin-bottom: 3px;}
  a { color: $color-3; }
  .aller {
    text-align: right;
    font-size: 16px;
    display: block;
    padding: 3px 10px;
    background-color: $color-4;
    font-size: 14px;
    font-family: "Verdana";
    font-weight: bold;
    border-radius: 10px;
  }
  .icon_statistics { position: relative; padding-left: 25px;}
  .icon_statistics:before { @include before('', block, absolute, 0, -1px, 20px, 20px)}
  // Icons
  .health:before {
    @include icons-sprite(icon-health);
    // background-position: sprite-position($icons, icon-health, 4px, 5px);
  }

  .agriculture:before {
    @include icons-sprite(icon-agriculture);
    // background-position: sprite-position($icons, icon-agriculture, 4px, 5px);
  }

  .communications:before {
    @include icons-sprite(icon-communications);
    // background-position: sprite-position($icons, icon-communications, 4px, 5px);
  }

  .disaster-management:before {
    @include icons-sprite(icon-disaster-management);
    // background-position: sprite-position($icons, icon-disaster-management, 4px, 5px);
  }

  .early_recovery:before {
    @include icons-sprite(icon-early_recovery);
    // background-position: sprite-position($icons, icon-early_recovery, 4px, 5px);
  }

  .economic-recovery-and-development:before {
    @include icons-sprite(icon-economic_recovery);
    // background-position: sprite-position($icons, icon-economic_recovery, 4px, 5px);
  }

  .education:before {
    @include icons-sprite(icon-education);
    // background-position: sprite-position($icons, icon-education, 4px, 5px);
  }

  .energy:before {
    @include icons-sprite(icon-energy);
    // background-position: sprite-position($icons, icon-energy, 4px, 5px);
  }

  .environment:before {
    @include icons-sprite(icon-environment);
    // background-position: sprite-position($icons, icon-environment, 4px, 5px);
  }

  .food-aid:before {
    @include icons-sprite(icon-food-aid);
    // background-position: sprite-position($icons, icon-food-aid, 4px, 5px);
  }

  .human-rights-democracy-and-governance:before {
    @include icons-sprite(icon-human_rights);
    // background-position: sprite-position($icons, icon-human_rights, 4px, 5px);
  }

  .humanitarian-aid:before {
    @include icons-sprite(icon-humanitarian-aid);
    // background-position: sprite-position($icons, icon-humanitarian-aid, 4px, 5px);
  }

  .logistics:before {
    @include icons-sprite(icon-logistics);
    // background-position: sprite-position($icons, icon-logistics, 4px, 5px);
  }

  .mining-and-extractive-resources:before {
    @include icons-sprite(icon-mining-and-extractive-resources);
    // background-position: sprite-position($icons, icon-mining-and-extractive-resources, 4px, 5px);
  }

  .non-food-relief-items-nfis:before {
    @include icons-sprite(icon-non-food-relief-items);
    // background-position: sprite-position($icons, icon-non-food-relief-items, 4px, 5px);
  }
  .non_food-relief-items-nf_is:before {
    @include icons-sprite(icon-non-food-relief-items);
    // background-position: sprite-position($icons, icon-non-food-relief-items, 4px, 5px);
  }

  .nutrition:before {
    @include icons-sprite(icon-other);
    // background-position: sprite-position($icons, icon-other, 4px, 5px);
  }

  .other:before {
    @include icons-sprite(icon-other);
    // background-position: sprite-position($icons, icon-other, 4px, 5px);
  }

  .peace-and-security:before {
    @include icons-sprite(icon-peace_security);
    // background-position: sprite-position($icons, icon-peace_security, 4px, 5px);
  }

  .protection:before {
    @include icons-sprite(icon-protection);
    // background-position: sprite-position($icons, icon-protection, 4px, 5px);
  }

  .safety-nets:before {
    @include icons-sprite(icon-safety-nets);
    // background-position: sprite-position($icons, icon-safety-nets, 4px, 5px);
  }

  .shelter-and-housing:before {
    @include icons-sprite(icon-shelter);
    // background-position: sprite-position($icons, icon-shelter, 4px, 5px);
  }

  .water-sanitation-and-hygiene:before {
    @include icons-sprite(icon-water);
    // background-position: sprite-position($icons, icon-water, 4px, 5px);
  }

  .forestry:before {
    @include icons-sprite(icon-forestry);
    // background-position: sprite-positin($icons, icon-forestry, 4px, 5px);
  }

  .fishing:before {
    @include icons-sprite(icon-fishing);
    // background-position: sprite-positin($icons, icon-fishing, 4px, 5px);
  }

  .communications-technology:before {
    @include icons-sprite(icon-communications);
    // background-position: sprite-positin($icons, icon-communications, 4px, 5px);
  }

  .disaster-prevention-and-preparedness:before {
    @include icons-sprite(icon-disaster-management);
    // background-position: sprite-positin($icons, icon-disaster-management, 4px, 5px);
  }

  .economic_recovery_and_development:before {
    @include icons-sprite(icon-economic_recovery);
    // background-position: sprite-positin($icons, icon-economic_recovery, 4px, 5px);
  }

  .capacity-strengthening-for-cs_os-general:before {
    @include icons-sprite(icon-cso);
    // background-position: sprite-positin($icons, icon-human_rights, 4px, 5px);
  }

  .mining_and_extractive_resources:before {
    @include icons-sprite(icon-mining-and-extractive-resources);
    // background-position: sprite-positin($icons, icon-mining-and-extractive-resources, 4px, 5px);
  }

  .conflict-prevention-and-resolution-peace-and-security:before {
    @include icons-sprite(icon-peace_security);
    // background-position: sprite-positin($icons, icon-peace_security, 4px, 5px);
  }

  .social-services:before {
    @include icons-sprite(icon-protection);
    // background-position: sprite-positin($icons, icon-shelter, 4px, 5px);
  }

  .refugee-resettlement:before {
    @include icons-sprite(icon-shelter);
    // background-position: sprite-positin($icons, icon-refugee, 4px, 5px);
  }

  .gender:before {
    @include icons-sprite(icon-gender);
    // background-position: sprite-positin($icons, icon-gender, 4px, 5px);
  }

  .animal-welfare:before {
    @include icons-sprite(icon-animals);
    // background-position: sprite-positin($icons, icon-animals, 4px, 5px);
  }

  .transport-infrastructure:before {
    @include icons-sprite(icon-transport);
    // background-position: sprite-positin($icons, icon-transport, 4px, 5px);
  }

  .construction:before {
    @include icons-sprite(icon-construction);
    // background-position: sprite-positin($icons, icon-construction, 4px, 5px);
  }

  .debt-relief:before {
    @include icons-sprite(icon-debtrelief);
    // background-position: sprite-positin($icons, icon-debt, 4px, 5px);
  }

  .trade:before {
    @include icons-sprite(icon-trade);
    // background-position: sprite-positin($icons, icon-trade, 4px, 5px);
  }

}

.ui-tooltip {
  padding: 7px 12px;
  box-shadow: none;
  border-radius: 15px;
  color: $color-0;
  background-color: $color-3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  &:after {
    @include after (" ", block, absolute, 50%, -10px, 0, 0);
    @include triangle (8px, $color-3);
  }
}


