/*********************************************************************************************/
/***************************************GRID SYSTEM*******************************************/
/*********************************************************************************************/
$container-max-width: 100%;
$container-min-width: 0;

$grid-columns: 12;
$grid-gutter-width: 1%;

.row {
  display: block;
  max-width: 940px;
  margin: 0 auto;
  .row {
    margin: 0 ($grid-gutter-width * -1);
  }
  @include clearfix();
}

.grid {
  position: relative;
  display: block;
  float: left;
  margin: 0 $grid-gutter-width;
}

@for $column from 1 through $grid-columns {
  .grid-#{$column} {
    @extend .grid;
    @include grid($column);
  }
}

@for $column from 1 through $grid-columns {
  .offset-#{$column} {
    margin-left: ((100%/$grid-columns)*$column + $grid-gutter-width);
  }
}
/*************************************MEDIA QUERIES*******************************************/
@media screen and (max-width: 940px) {
  .row { width: 100%;}
}
@media screen and (max-width: 768px) {
  @for $column from 1 through $grid-columns {
  .medium-grid-#{$column} {
  @include grid($column);
  }
}

@for $column from 1 through $grid-columns {
  .grid-offset-#{$column} {
    margin-left: 1%;
  }
}
}
