<h2>{{title}}</h2>
<p>{{description}}</p>
<div class="row">
  {{#each charts}}
    <div class="mod-report-grid-3">
      <h3>{{name}}</h3>
      <div class="mod-report-stacked-chart"></div>
    </div>
  {{/each}}
</div>
<!-- <div class="row">
  <div class="mod-report-locations" id="reportDonorsLocations">
    <div class="mod-report-locations-header">
      <h3>Project locations</h3>
      <ul>
        <li>
          <span class="current">By number of projects</span>
          <ul class="mod-report-locations-header-child">
            <li><a href="#by-projects" data-layer="donors_by_projects">By number of projects</a></li>
            <li><a href="#by-organizations" data-layer="donors_by_organizations">By number of organizations</a></li>
            <li><a href="#by-countries" data-layer="donors_by_countries">By number of countries</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="mod-report-locations-map" id="reportDonorsMap"></div>
  </div>
</div> -->
