.mod-highlighted-results {
  position: relative;
  padding: 15px;
  margin-bottom: 30px;
  background-color: $color-4;
  &:before {
    @include after('', block, absolute, 0px, auto, 0, 0);
    top: 12px;
    border-top: 4px solid darken($color-4, 10%);
    border-right: 12px solid transparent;
  }
  &:after {
    @include after('', block, absolute, 0px, auto, 0, 0);
    top: 0;
    border-top: 12px solid $color-0;
    border-left: 12px solid $color-1;
  }
  .mod-info {
    margin-bottom: 0;
    border-bottom: 0;
    &:last-child { padding-bottom: 0px;}
  }
}
