.mod-form {
  padding-bottom: 20px;
  .search {
    width: 90%;
    padding: 0 5%;
    border-radius: 20px;
    background-color: $color-4;
    overflow: hidden;
    margin: 10px 0 20px 0;
  }
  h2 {
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  h3 { margin-bottom: 0px;}
  input, select {
    width: 90%;
    height: 40px;
    padding: 0 5%;
    margin-bottom: 15px;
    background-color: $color-4;
  }
  select, {
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    @include appearance(none);
    color: $color-5;
    background: #ededed image-url('form-background.png') no-repeat right !important;
  }

  #date_start_year,
  #date_start_month,
  #date_end_year,
  #date_end_month,
  {
    width: 49%;
    float: left;
    background: image-url('form-background-lt.png') no-repeat center;
  }
  #date_start_year,
  #date_end_year {
    margin-right: 2%;
  }
  #q, .main_search{
    float: left;
    width: 85%;
    padding: 0;
    padding-left: 5%;
    margin-bottom: 0;
  }
  input[type="submit"] {
    width: 10%;
    float: right;
    margin-bottom: 0;
    cursor: pointer;
    background: image-url('search-background.png') no-repeat center;
  }
}

//main content
.select2-container-multi .select2-choices {
  border: none;
  background: none !important;
}
.select2-container-multi .select2-choices .select2-search-field input {
  width: 10px;
  position: relative;
  top: 0;
  z-index: 100;
}
.select2-container-multi .select2-choices .select2-search-field {
   background: #ededed image-url('form-background.png') no-repeat right;
}

//result item
.select2-container-multi .select2-choices .select2-search-choice {
  border: none;
  box-shadow: none;
  background: none;
  @include appearance(none);
}
.select2-container-multi .select2-choices li {
  float: none;
  margin: 5px 0;
}

//close btn
.select2-container-multi .select2-search-choice-close {
  background: none;
  &:after {
    @include after('x', block, relative, 5px, 3px, 14px, 14px);
    color: $color-0;
    font-size: 12px;
    text-align: center;
    background: $color-5;
    border-radius: 50%;
  }
}

.block {
  margin-bottom: 10px;
}
.apply, .reset {
  width: 100%;
  height: 40px;
  background-color: $color-2;
  color: $color-0;
  font-size: 15px;
  margin-bottom: .5em;
  //font-weight: bold;
  text-transform: uppercase;
  &:hover { background-color: rgba($color-2, .7);}
}

.reset {
  background-color: $color-1;
}

.select2-container .select2-choice {
  border: none;
  height: 40px;
  border-radius: 0;
  background: image-url('form-background-lt.png') no-repeat right;
}

.select2-container .select2-choice .select2-arrow {
  opacity: 0;
}

#s2id_date_start_year,
#s2id_date_start_month,
#s2id_date_end_year,
#s2id_date_end_month {
   width: 49%;
   float: left;
   background: image-url('form-background-lt.png') no-repeat center;
   margin-bottom: 10px;
}
#s2id_date_start_year,
#s2id_date_end_year {
  margin-right: 2%
}
.chzn-select .select2-choice {
  background: image-url('form-background.png') no-repeat center !important;
}
.select2-chosen {
  color: $color-5;
  margin-top: 7px;
}



