.mod-info {
  border-bottom: 3px solid $color-4;
  padding-bottom: 20px;
  margin-bottom: 30px;
  &:last-child {
    border-bottom: 0;
  }
  h3 {
    .mod-header & {
      float: left;
      margin-right: 10px;
      margin-bottom: 0;
      line-height: 24px;
      a { color: $color-3;}
    }
    a {
      font-weight: bold;
      color: $color-3;
    }
  }
  p {
    color: $color-5;
    font-weight: lighter;
  }
  span {
    font-size: 48px;
    font-weight: lighter;
  }
  li {
    margin-bottom: 15px;
    line-height: 1.2;
    font-weight: lighter;
  }
  a {
    font-size: 16px;
    font-weight: lighter;
    @include link-states($color-2, inline-block);
  }
  .donations-website { margin-top: 10px;}
}


