.mod-hero {
  height: 340px;
  position: relative;
  background-color: $color-4;

  .linos-about &, .pages-page & { background: image-url('hero-about.jpg') no-repeat center; background-size: cover;}
  .linos-contact-us & { background: image-url('hero-contact-us.jpg') no-repeat center; background-size: cover;}
  .linos-staff-list &, .linos-about-interaction & { background: image-url('hero-staff-list.jpg') no-repeat center; background-size: cover;}
  .linos-getting-on-the-map &, .linos-faqs & { background: image-url('hero-getting-on-the-map.jpg') no-repeat center; background-size: cover;}
  .linos-of-interest &, .news-and-updates & { background: image-url('hero-of-interest.jpg') no-repeat center; background-size: cover;}
  .linos-purpose & , .linos-mapping-team &{ background: image-url('hero-purpose.jpg') no-repeat center; background-size: cover;}
  .linos-highlights &, .linos-history & { background: image-url('hero-highlights.jpg') no-repeat center; background-size: cover;}
  .linos-data & { background: image-url('hero-data.jpg') no-repeat center; background-size: cover;}
  .linos-top-things-you-should-know-about-the-data & { background: image-url('hero-things-you-should-know.jpg') no-repeat center; background-size: cover;}
  .linos-data-guidance & { background: image-url('hero-data-guidance.jpg') no-repeat center; background-size: cover;}
}
