body {
  margin: 0;
  min-width: 960px;
  padding: 0;
  font-family: $font-family;
  font-size: 16px;
  color: $color-3;
  text-rendering: optimizeLegibility;

  &.embed-page {
    min-width: 0;
  }
}

h1, h2, h3 {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

p {
  line-height: 21px;
  font-weight: 100;
}

strong {
  font-weight: bold;
}

button, input {
  font-family: $font-family;
  &:focus {
    outline: 0;
  }
}
@media screen and (max-width: 768px) {
  body { font-size: 1em;}
}

iframe {
  margin: 20px auto;
}

code {
  display: block;
  padding: 20px;
  font-size: 14px;
  font-weight: normal;
  font-family: $font-family;
  color: $color-3;
  border: 1px solid $color-4;
}

sup {
  font-size: .83em;
  vertical-align: super;
}

/*********************************************************************************************/
/******************************************LINKS**********************************************/
/*********************************************************************************************/
a {
  text-decoration: none;
  display: block;
  color: $color-3;
}
/*********************************************************************************************/
/******************************************TITLES*********************************************/
/*********************************************************************************************/
.h1,
h1 {
  margin-bottom: 25px;
  //font-size: 48px;
  font-size: 40px;
  //font-weight: lighter;

  .section-data & { color: $color-1;}
  .section-about & { color: $color-8;}
  .linos-history & { display: none;}
}
.h2,
h2 {
  margin-bottom: 10px;
  font-size: 21px;
  text-transform: capitalize;

  .section-data & { color: $color-1;}
  .section-about & { color: $color-8;}
}
.h3,
h3 {
  margin-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;

  //.section-data & { color: $color-1; }
  //.section-about & { color: $color-8; }
}

.inline { display: inline-block;}

/*********************************************************************************************/
/******************************************BUTTONS********************************************/
/*********************************************************************************************/

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.button {
  width: 100%;
  height: 40px;
  background-color: #c15022;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

/*********************************************************************************************/
/******************************************BORDERS********************************************/
/*********************************************************************************************/
$border-bottom-color-1: 5px solid rgba($color-1, .3);
$border-bottom-color-8: 5px solid $color-8;





/*********************************************************************************************/
/**************************************FORMULARIOS********************************************/
/*********************************************************************************************/
input {
  padding: 0;
  border: none;
  color: $color-5;
  font-size: 14px;
}



/*********************************************************************************************/
/**************************************Accessibilty********************************************/
/*********************************************************************************************/

@mixin screen-reader {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px;
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute;
  width: 1px;
}

@mixin show-screen-reader {
  clip: auto; 
  height: auto;
  margin: 0; 
  overflow: visible; 
  padding: 0; 
  position: static; 
  width: auto;
}

.screen-reader {
  @include screen-reader;
}

.skip-link {
  @include screen-reader;

  &:focus {
    @include show-screen-reader;

    background-color: black;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: normal;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
  }
}
