.input_short {
  float: left;
  margin: 5px 0 0 0;
  width: 272px;
  height: 34px;
  background: url("/app/images/backoffice/projects/bkg_input_short.png") no-repeat 0 0; }
  .input_short p.msg {
    float: right;
    margin: 8px 8px 0 0;
    font: italic 15px Arial;
    color: #999999; }
  .input_short input[type="text"] {
    float: left;
    margin: 8px 0 0 5px;
    width: 210px;
    height: 20px;
    border: none; }

.combo_search_select {
  float: left;
  width: 800px;
  height: auto;
  margin: 20px 0 0 0; }
  .combo_search_select li.comboselect {
    float: left;
    margin-bottom: 10px;
    width: 190px;
    height: 100%; }
    .combo_search_select li.comboselect.status {
      width: 190px; }
    .combo_search_select li.comboselect.date {
      width: 380px; }
      .combo_search_select li.comboselect.date .select_date {
        clear: both; }
        .combo_search_select li.comboselect.date .select_date .chzn-container {
          width: 120px !important; }
    .combo_search_select li.comboselect span.combo {
      float: left;
      margin: 6px 0 0 0;
      background: url("/app/images/backoffice/projects/single_combo_head.png") no-repeat 0 0;
      font: normal 13px Arial;
      color: #333333;
      text-decoration: none;
      width: 134px;
      height: 24px;
      padding: 8px 0 0 11px;
      position: relative; }
      .combo_search_select li.comboselect span.combo:focus {
        outline: none; }
      .combo_search_select li.comboselect span.combo p {
        width: 130px; }
      .combo_search_select li.comboselect span.combo ul.elements {
        display: none; }
      .combo_search_select li.comboselect span.combo.clicked {
        background: url("/app/images/backoffice/projects/combos/index_search_head.png") no-repeat 0 0;
        width: 135px;
        position: relative; }
        .combo_search_select li.comboselect span.combo.clicked div.elements_content {
          position: absolute;
          top: 31px;
          left: 0;
          display: inline;
          background: url("/app/images/backoffice/projects/combos/body_combo_search.png") no-repeat 0 0;
          width: 148px;
          height: 198px;
          z-index: 50; }
        .combo_search_select li.comboselect span.combo.clicked ul.elements {
          float: left;
          width: 148px;
          height: 194px;
          overflow-x: hidden;
          overflow-y: auto;
          display: inline; }
          .combo_search_select li.comboselect span.combo.clicked ul.elements li {
            float: left;
            width: 88px;
            height: auto;
            padding: 5px 30px 5px 12px;
            margin: 0 0 0 1px; }
            .combo_search_select li.comboselect span.combo.clicked ul.elements li:hover {
              background-color: #E4F0CA; }
      .combo_search_select li.comboselect span.combo ul.elements.short {
        display: none; }
      .combo_search_select li.comboselect span.combo.clicked ul.elements.short {
        position: absolute;
        top: 31px;
        left: -1px;
        display: inline;
        width: 148px;
        height: auto;
        background: none;
        z-index: 50; }
        .combo_search_select li.comboselect span.combo.clicked ul.elements.short li {
          float: left;
          width: 120px;
          height: auto;
          background: url("/app/images/backoffice/projects/combos/index_search_content.png") repeat-y 0;
          padding: 5px 5px 5px 12px;
          margin: 0 0 0 1px; }
          .combo_search_select li.comboselect span.combo.clicked ul.elements.short li:hover {
            float: left;
            width: 264px;
            background: url("/app/images/backoffice/projects/combos/index_search_content_hover.png") repeat-y 0; }
          .combo_search_select li.comboselect span.combo.clicked ul.elements.short li.first {
            float: left;
            width: 135px;
            height: 6px;
            background: url("/app/images/backoffice/projects/combos/index_search_content_first.png") no-repeat 0 0;
            margin: 0 0 0 0 1px;
            padding: 0; }
          .combo_search_select li.comboselect span.combo.clicked ul.elements.short li.last {
            float: left;
            width: 135px;
            height: 6px;
            background: url("/app/images/backoffice/projects/combos/index_search_bottom.png") no-repeat 0 0; }
            .combo_search_select li.comboselect span.combo.clicked ul.elements.short li.last:hover {
              background: url("/app/images/backoffice/projects/combos/index_search_bottom.png") no-repeat 0 0; }
      .combo_search_select li.comboselect span.combo:hover {
        cursor: pointer; }
    .combo_search_select li.comboselect label {
      display: block;
      clear: both;
      width: 104px;
      margin-bottom: 7px;
      text-transform: uppercase; }

.combo_select {
  background: #cbe598;
  border: 1px solid #bfbfbf;
  float: left;
  margin: 10px 0 0 0;
  padding: 0 10px 10px 10px;
  width: 411px;
  height: auto;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .combo_select span.combo_select_options {
    float: left;
    margin: 10px 10px 0 0;
    background: url("/app/images/backoffice/projects/combos/combo_add_cluster.png") no-repeat 0 0;
    width: 254px;
    height: 24px;
    padding: 8px 0 0 10px;
    position: relative; }
    .combo_select span.combo_select_options p {
      font: normal 13px Arial;
      color: #999999; }
    .combo_select span.combo_select_options ul.options {
      display: none;
      top: 32px;
      left: 0;
      width: 281px;
      height: 197px;
      z-index: 100;
      background: url("/app/images/backoffice/projects/combos/body_combo_cluster.png") no-repeat left bottom;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute; }
    .combo_select span.combo_select_options.clicked {
      background: url("/app/images/backoffice/projects/combos/combo_add_cluster_clicked.png") no-repeat 0 0; }
      .combo_select span.combo_select_options.clicked ul.options {
        display: block; }
        .combo_select span.combo_select_options.clicked ul.options li {
          float: left;
          margin: 0 0 0 1px;
          width: 240px;
          height: auto;
          padding: 4px 11px; }
          .combo_select span.combo_select_options.clicked ul.options li:hover {
            background-color: #E4F0CA; }
          .combo_select span.combo_select_options.clicked ul.options li a {
            display: block;
            font: normal 13px Arial;
            color: #666666;
            text-decoration: none; }
    .combo_select span.combo_select_options:hover {
      cursor: pointer; }
  .combo_select a.add_btn {
    float: left;
    margin: 10px 0 0 10px;
    background: url("/app/images/backoffice/projects/add_cluster_bttn.png") no-repeat 0 0;
    width: 118px;
    height: 25px;
    font: 500 15px "Museo Sans",Arial;
    color: #FFFFFF;
    text-shadow: 0 1px #6E8C30;
    text-align: center;
    padding: 7px 0 0 0; }
    .combo_select a.add_btn:hover {
      cursor: pointer;
      background-position: 0 -32px; }

.combo_list {
  float: left;
  width: 272px;
  height: auto;
  margin: 0 0 0 0; }
  .combo_list li {
    float: left;
    width: 490px;
    height: 24px;
    background: url("/app/images/backoffice/projects/bkg_cluster2.png") no-repeat 0 0;
    font: normal 13px Arial;
    color: #333333;
    padding: 6px 0 0 10px;
    margin: 10px 0 0 0; }
    .combo_list li p {
      float: left;
      width: auto; }
    .combo_list li a.close {
      float: right;
      margin: 1px 5px 0 0;
      background: url("/app/images/backoffice/projects/close_cluster_bttn.png") no-repeat 0 0;
      width: 16px;
      height: 16px; }
      .combo_list li a.close:hover {
        cursor: pointer; }

.clearfix:after, .clearfix:before {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }
