<% cache("#{@site.id}/home/map") do %>
  <%= render 'new_partials/map' %>
<% end %>

<%= render 'new_partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <div class="grid-4">
      <aside class="layout-sidebar">

        <!-- Highlighted results -->
        <div id="sidebar-highlights" class="mod-highlighted-results"></div>

        <!-- Sectors by projects -->
        <div id="sidebar-sectors" class="project-sectors mod-info"></div>

        <!-- Projects locations -->
        <div id="sidebar-locations"></div>
        <%# cache("#{@site.id}/home/projects_by_location") do %>
          <%#= render 'new_partials/aside/project_locations' %>
        <%# end %>

        <!-- Organizations by projects -->
        <div id="sidebar-organizations"></div>

      </aside>
    </div>

    <div class="grid-12 offset-1">
      <section class="layout-content">

        <header>
          <h1 class="section-title">All projects</h1>
        </header>

        <%#= render :partial => 'new_partials/downloads', :locals => { :csv_path => "/sites/download/#{@site.id}.csv", :xls_path => "/sites/download/#{@site.id}.xls", :kml_path => "/sites/download/#{@site.id}.kml" } %>

        <%#= render "new_partials/index_projects" %>

      </section>
    </div>
  </div>
</div>
