<% cache("#{@site.id}/home/map") do %>
  <%= render 'partials/map' %>
<% end %>
<%= render 'partials/categories_selector' %>

<div class="main-content">
  <div class="row">
    <section class="layout-content grid-12 offset-1">

      <header>
        <h1 class="section-title">All projects</h1>
      </header>

      <%= render :partial => 'partials/downloads', :locals => {
          :csv_path => "/sites/download/#{@site.id}.csv",
          :xls_path => "/sites/download/#{@site.id}.xls",
          :kml_path => "/sites/download/#{@site.id}.kml"
      } %>
      <%= render "partials/index_projects" %>

    </section>

    <aside class="layout-sidebar grid-4">

        <!-- Highlighted results -->
        <div id="sidebar-highlights" class="mod-highlighted-results mod-info" data-highlights="[&#34;projects_count&#34;,&#34;organizations_count&#34;]"></div>

        <!-- Sectors by projects -->
        <div id="sidebar-sectors" data-nofilter="true" class="project-sectors mod-info"></div>

        <!-- Projects locations -->
        <div id="sidebar-locations" data-nofilter="true" class="mod-info"></div>

        <!-- Organizations by projects -->
        <div id="sidebar-organizations" class="mod-info"></div>

      </aside>
  </div>
</div>
