<div class="mod-explore activity">
    <%= render 'partials/explore/header', locals: { :page => 'data' } %>
        
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center coming-soon">
                <h2>Coming Soon!</h2>
                <p>This section is under construction.</p>
                <p>Check back again soon for updates.</p>
            </div>
        </div>
    </div>
        
    
</div>
