<div class="mod-explore stories">
    <div class="mod-hero">
        <h1>Explore</h1>
        <nav class="section-nav">
            <ul>
                <li class="menu-item first active">Stories</li>
                <li class="menu-item">Data</li>
            </ul>
        </nav>
    </div>
        
        
        
    
</div>