<div class="mod-explore-use-cases">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div id="useCaseCarousel" class="carousel slide" data-ride="">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#useCaseCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#useCaseCarousel" data-slide-to="1"></li>
                        <li data-target="#useCaseCarousel" data-slide-to="2"></li>
                        <li data-target="#useCaseCarousel" data-slide-to="3"></li>
                        <li data-target="#useCaseCarousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h2>International Aid Transparency Initiative (IATI)</h2>
                            <p class="centered">NGO Aid Map data is made publically available to a broad audience through daily updates on the IATI registry.</p>
                            <div class="row">
                                <a href="https://iatiregistry.org/publisher/ia_nam" class="carousel-link col-xs-4">
                                    <div>
                                        <span class="oi oi-spreadsheet" title="spreadsheet" aria-hidden="true"></span>
                                    </div>
                                    <span class="carousel-link-text text-center">Explore Registry Data</span>
                                </a>
                                <a href="https://ngoaidmap.org/p/iati" class="carousel-link col-xs-4">
                                    <div>
                                        <span class="oi oi-ellipses" title="ellipses" aria-hidden="true"></span>
                                    </div>
                                    <span class="carousel-link-text">About IATI & NGO Aid Map</span>
                                </a>
                                <a href="http://iatistandard.org" class="carousel-link col-xs-4">
                                    <div>
                                        <span class="oi oi-globe" title="globe" aria-hidden="true"></span>
                                    </div>
                                    <span class="carousel-link-text text-center">IATI</span>
                                </a>
                            </div>
                        </div>
                        <div class="item hdx">
                            <div>
                                <h2>Humanitarian Data Exchange (HDX)</h2>
                                <p class="centered">An initiative by <a href="http://www.unocha.org/" target="_blank">UN OCHA</a>, HDX periodically downloads and enriches NGO Aid Map data, making it, and thousands of other datasets, easier to find and use.</p>
                                <div class="row">
                                    <a href="https://data.humdata.org/organization/interaction?sort=metadata_modified+desc" class="carousel-link col-xs-4 col-xs-offset-2">
                                        <div>
                                            <span class="oi oi-graph" aria-hidden="true"></span>
                                        </div>
                                        <span class="carousel-link-text text-center">Explore HDX Data</span>
                                    </a>
                                    <a href="https://data.humdata.org" class="carousel-link col-xs-4 col-xs-offset-0">
                                        <div>
                                            <span class="oi oi-external-link" aria-hidden="true"></span>
                                        </div>
                                        <span class="carousel-link-text text-center">HDX</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item pdc">
                            <div>
                                <h2>Pacific Disaster Center (PDC)</h2>
                                <p class="centered">PDC's Emergency Operations (EMOPS) portal collects and maps active natural/biological hazard data globally along with contextual resource data such as NGO Aid Map projects.</p>
                                <div class="row">
                                    <a href="https://emops.pdc.org/emops/" class="carousel-link col-xs-4 col-xs-offset-2">
                                        <div>
                                            <span class="oi oi-fire" aria-hidden="true"></span>
                                        </div>
                                        <span class="carousel-link-text text-center">EMOPS</span>
                                    </a>
                                    <a href="http://www.pdc.org/" class="carousel-link col-xs-4 col-xs-offset-0">
                                        <div>
                                            <span class="oi oi-command" aria-hidden="true"></span>
                                        </div>
                                        <span class="carousel-link-text text-center">Pacific Disaster Center</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item erh">
                            <div>
                                <h2>Ending Rural Hunger</h2>
                                <p class="centered">The Brookings Institution utilized NGO Aid Map data among others in this project to help analyze progress on Sustainable Development Goal 2.</p>
                                <div class="row">
                                    <a href="https://endingruralhunger.org/" class="carousel-link col-xs-4 col-xs-offset-4">
                                        <div>
                                            <span class="oi oi-eye" aria-hidden="true"></span>
                                        </div>
                                        <span class="carousel-link-text text-center">Explore Project</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item embed">
                            <%= image_tag 'embed_ss2.png', class: 'embed-image ss2' %>
                            <%= image_tag 'embed_ss1.png', class: 'embed-image ss1' %>
                            <div>
                                <h2></h2>
                                <p class="centered">All map views on the site may be embedded in external content simply by clicking the 'Embed' button on a page and copying the code into your HTML editor.</p>
                                <div class="row">
                                    <a href="http://www.uusc.org/our-work/where-we-work/" class="carousel-link col-xs-4 col-xs-offset-2">
                                        <div>
                                            <span class="oi oi-map" aria-hidden="true"></span>
                                        </div>
                                        <span class="carousel-link-text text-center">Featured: UUSC</span>
                                    </a>
                                    <a href="http://www.thp.org/our-work/where-we-work/" class="carousel-link col-xs-4 col-xs-offset-0">
                                        <div>
                                            <span class="oi oi-basket" aria-hidden="true"></span>
                                        </div>
                                        <span class="carousel-link-text text-center">Featured: THP</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#useCaseCarousel" role="button" data-slide="prev">
                        <span class="oi oi-caret-left" title="caret-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#useCaseCarousel" role="button" data-slide="next">
                        <span class="oi oi-caret-right" title="caret-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>